---
layout: page.html
---
<style>
	/* TODO: move this to a CSS file  */
	ul#resList {
		list-style-position:
			inside;
		margin-left: 3em;
	}

	li.item {
		list-style:
			none;
		padding: 5px;
	}

	div#renderList {
		margin-top:
			1.5em;
	}
</style>
<h1>Search in {{wiki_title}}</h1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
<script src="/search-index-{{ cacheId }}.js"></script>
<script src="/search-pages-{{ cacheId }}.js"></script>
<script>var index = lunr.Index.load(search_index)</script>

<input type="text" placeholder="type search words" id="inputID">
<button type="button" onclick="doSearch();" id="searchButton">Search</button>
<div id="renderList"></div>

<script>
	function doSearch() {
		let searchString = document.getElementById("inputID").value;
		var ul = document.createElement('ul');
		ul.setAttribute('id', 'resList');
		const searchResult = index.search(searchString);
		const searchResultList = searchResult.map((item) => {
			//return { 'link': item.ref, 'title': item.ref };
			return search_pages.find((page) => item.ref === page.url)
		})
		render_list = document.getElementById('renderList');

		// clear any previous results, then populate results
		removeAllChildNodes(render_list);
		render_list.appendChild(ul);
		console.log(searchResultList);
		searchResultList.forEach(renderResultList);
		if (ul.childNodes.length == 0) {
			render_list.append('No results for "' + searchString + '"')
		}

		// helper to set a single result (in scope of doSearch())
		function renderResultList(page, index, arr) {
			var anchor = document.createElement('a');
			anchor.append(document.createTextNode(`${page.title}`));
			anchor.setAttribute('class', 'wikilink');
			anchor.setAttribute('href', `${page.url}`);
			// anchor.setAttribute('target', '_blank');
			var li = document.createElement('li');
			li.setAttribute('class', 'item');
			li.append(anchor);
			ul.append(li);
		}
	}

	// helper to clear previous search results
	function removeAllChildNodes(parent) {
		while (parent.firstChild) {
			parent.removeChild(parent.firstChild);
		}
	}

	// ensure the DOM is loaded
	document.addEventListener('DOMContentLoaded', () => {
		// search on Enter
		var input_id = document.getElementById('inputID')
		input_id.focus()
		input_id.addEventListener('keypress', function (event) {
			if (event.key === "Enter") {
				event.preventDefault();
				document.getElementById("searchButton").click();
			}
		});
	})
</script>